gradle.properties
.gradle
.settings
.project
artifacts
buildSrc/build
tmp
classes_gen
source_gen
source_gen.caches
test_gen
test_gen.caches
workspace.xml
.DS_Store
build/dependencies.lock
build/main/
build/rcp/
build/tests/
build/distributions/
build/cf/*.zip
.gradletasknamecache
projectlibraries.overrides.properties
TEST*.xml

# Visual Studio
**/.vs/**
**/Debug/**
**/x64/**
**/x86/**
**/Release/**

# Maven
/target/


/.idea/
*.iml


code/include
code/lib
code/src

node_modules
.sonarlint
glossarified